extends layout

block body
  .alert.alert-warning
    p= applMdPath
  .container(ng-controller="MainController")
    h1 Angular-route example
    h2 Links:
    .list-group
      a.list-group-item(href="/") First (default) view
      a.list-group-item(href="/second") Second view
      a.list-group-item(href="/third") Third view

    h2 View:
    .container(ng-view)
